@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('bg.jpg') no-repeat center center/cover;
    overflow: hidden;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
}

.form-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2{
    font-size: 30px;
    color: #FFAF61;
    text-align: center;
}

.input-group{
    position: relative;
    width: 320px;
    margin: 30px 0;
    border-bottom: 2px solid #e6cbb4;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #e6cbb4;
    padding: 0 5px;
    transition: 0.5s;
}

.input-group input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #FFAF61;
    padding: 0 10px;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
    top: 0;
    font-size: 12px;
    background: transparent;
}

.forgot-pass{
    margin: -15px 0 15px;
}

.forgot-pass a{
    color: #e6cbb4;
    text-decoration: none;
    font-size: 14px;
}

.forgot-pass a:hover{
    text-decoration: underline;
}

.btn{
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:  #f5e6cc;                
    border: 2px solid  #f5e6cc;     
    border-radius: 10px;       
    text-decoration: none;      
    transition: 0.3s ease;
    backdrop-filter: blur(2px); 
}

.btn:hover{
    background-color: #FFAF61;
    color: #472400;
    border: 2px solid #FFAF61 ;
}

.sign-link{
    font-size: 14px;
    text-align: center ;
    margin: 25px 0;
}

.sign-link p{
    color:  #e6cbb4;
}

.sign-link p a{
    color: #FFAF61;
    text-decoration: none;
    font-weight: 600;
}

.sign-link p a:hover{
    text-decoration: underline;
}

.toggle-pass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #e6cbb4;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-pass:hover {
    color: #FFAF61;
}
